body{
    background-color: antiquewhite;
    text-align: center;

}
.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 2em;
    text-align: center;
    background-color:red;
    padding: 50px;
    margin-left: 35%;

 }
 h1,h2{
    color:blueviolet;
 }
 .social{
    background-color:gray;
    width: 100%;
    position: relative;
    bottom: 5px;
   
    height: 50%;
 }